<div class="formulario">
  <h1>{{$ctrl.edit ? 'Editar' : 'Novo'}} Cadastro</h1>
  <hr>
  <form ng-submit="$ctrl.handleSave()">
    <div class="form-group">
      <label for="">Nome</label>
      <input type="text" class="form-control" required ng-model="$ctrl.data.nome">
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" required ng-model="$ctrl.data.email">
    </div>
    <div class="form-group">
      <label for="">Telefone</label>
      <input type="text" class="form-control" required ng-model="$ctrl.data.telefone">
    </div>
    <input type="button" class="btn btn-default" value="Cancelar" ng-click="$ctrl.handleCancel()" ng-if="$ctrl.edit">
    <input type="submit" class="btn btn-primary" value="Enviar">
  </form>
</div>