body {
  padding: 90px 20px 20px;
  margin: 0;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.navigation {
  position: fixed;
  left: 20px;
  right: 20px;
  top: 20px;
  z-index: 100;
}

.formulario{
  padding: 0px 40px 0px;
}
.recentes {
  position: relative;
  z-index: 1;
}
.recentes h1 {
  margin: 0;
}

.recentes .table td {
  font-size: 1.2em;
}

.lottery{
  padding: 0px 40px 0px;
  padding-bottom: 10px;
  text-align: center;
}

.resultado-sorteio {
  position: relative;
  padding: 10px !important;
  text-align: center;
}

.resultado-sorteio > i {
  position:relative;
  top: calc(40% - 10px);
}

.resultado-sorteio > table {
  text-align: left;
}

.resultado-sorteio > h1, h2, h3{
  padding: 0;
  margin: 0;
}

a:hover{
  cursor: pointer;
}
